section.approch 
  .container
    .title.title--with-bottom-line
      h2.title__header Our approch
      .title__text Check our approches step by step (how we do it)
    
    ul.approch__list 
      li.approch__item
        .approch__image
          img.approch__picture(src="../../images/step-1.jpg" alt="picture")
          .approch__step step
        .approch__text
          .approch__title Step 1 : Heading Here
          .approch__description.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Autem similique eveniet perferendis necessitatibus doloremque,
            commodi itaque sapiente suscipit quo dolores laudantium, aperiam eius.

      li.approch__item
        .approch__image
          img.approch__picture(src="../../images/step-2.jpg" alt="picture")
          .approch__step step
        .approch__text
          .approch__title Step 2 : Heading Here
          .approch__description.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Autem similique eveniet perferendis necessitatibus doloremque,
            commodi itaque sapiente suscipit quo dolores laudantium, aperiam eius.

      li.approch__item
        .approch__image
          img.approch__picture(src="../../images/step-3.jpg" alt="picture")
          .approch__step step
        .approch__text
          .approch__title Step 3 : Heading Here
          .approch__description.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Autem similique eveniet perferendis necessitatibus doloremque,
            commodi itaque sapiente suscipit quo dolores laudantium, aperiam eius.

      li.approch__item
        .approch__image
          img.approch__picture(src="../../images/step-4.jpg" alt="picture")
          .approch__step step
        .approch__text
          .approch__title Step 4 : Heading Here
          .approch__description.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Autem similique eveniet perferendis necessitatibus doloremque,
            commodi itaque sapiente suscipit quo dolores laudantium, aperiam eius.
