.contacts 
        a.contact(href="tel:+3213213211")
          i.fas.fa-mobile-alt.contact__icon
          span.contact__text 6337 3213
        
        a.contact(href="mailto:smth@smth.com")
          i.fas.fa-envelope-square.contact__icon
          span.contact__text smth@smth.com

        a.contact(href="facebook.com")
          i.fab.fa-facebook-square.facebook__icon
